
@{
    ViewData["Title"] = "MovieRegistered";
}

@model Movie

<h3>Thanks for registering @Model.Title!</h3>

<h6>Title: @Model.Title</h6>
<h6>Genre: @Model.Genre</h6>
<h6>Year: @Model.Year</h6>
<h6>Actors: @Model.Actors</h6>
<h6>Directors: @Model.Directors</h6>

